.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-dark {
  z-index: 100;
}

#images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px;
  flex-flow: wrap;
}

.previous img, .next img {
  width: 150px;
  cursor: pointer;
} 

.current img {
  width: 400px;
}

#images p {
  cursor: pointer;
  font-weight: bold;
}

#images p:hover {
  color: blue;
  text-decoration: underline;
}

.desc {
  padding: 50px;
}

.fave-page {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-items: flex-start;
}

.fave-page .preview {
  width: 300px;
}